header
  nav
    ul
      li
        a(href="/") Home
      if user
        li
          a(href="/admin") Dashboard
        li
          a(href="/logout") Sign Out
      else
        li
          a(href="/login") Sign In
        li
          a(href="/register") Sign Up
